@import "../vars.sass"
#post-container
    border-style: solid
    border-width: 10px
    border-color:$primary_background
    
.post
    border-style: solid
    border-radius: 10px
    border-color: $secondary_background
    background-color: $secondary_background
    display: inline-block
    width: 20em
    .comments
        float: right
        svg
            width:30px
       
        
            