* {
  padding: 0px;
  margin: 0px;
  color: $primary_font_color;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0D0D0D;
  }

  ::-webkit-scrollbar-thumb {
    background: $secondary_bg;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }
}

body {
  background-color: $primary_bg;
}
