@import "vars.scss";

.container > .mainContainer {
  grid-area: mainContainer;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95vh auto;
  grid-template-areas: "header" "main";

  header {
    grid-area: header;
    text-align: center;
    align-self: center;
    text-shadow: 5px 5px #000000;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "title" "about";

    h1 {
      grid-area: title;
      font-size: 100px;
    }

    p {
      grid-area: about;
    }
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "boardsContainer";

    .boardsContainer {
      grid-area: boardsContainer;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      grid-template-areas: "title" "boardContainer";

      h2 {
        grid-area: title;
        text-align: center;
      }

      .boardContainer {
        grid-area: boardContainer;
        display: grid;
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: auto auto;
        justify-content: center;

        .boardStructure {
          padding-bottom: 40px;
          padding-left: 10px;
          padding-right: 10px;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 30px auto;
          grid-template-areas: "boardTitle" "boardContent";

          h3 {
            grid-area: boardTitle;
            border-bottom: solid 1px $primary_border_color;
          }

          ul {
            list-style-type: none;
          }

          ul > li > div > a {
            padding-left: 20px;
            text-decoration: none;
            grid-area: boardContent;
            display: grid;
            grid-template-columns: auto, 40px;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: "boardType boardImg";

            p {
              grid-area: boardType;
              text-decoration: none;
              justify-content: center;
              align-self: center;
            }

            i {
              grid-area: boardImg;
              visibility: hidden;
              padding-right: 5px;
              text-align: right;
              align-self: center;
              justify-content: center;
            }
          }

          ul > li > div > a:hover {
            border: solid 1px $primary_border_color;
            border-radius: 5px;

            i {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

/*
.boardStructure {
        grid-area: boardStructure;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "boardTitle" "boardContent";

        h3 {
          grid-area: boardTitle;
        }

        li {
          grid-area: boardContent;
          display: grid;
          grid-template-columns: auto, 40px;
          grid-template-rows: auto;
          grid-template-areas: "boardType" "boardImg";

          a {
            grid-area: boardType;
            text-decoration: none;
          }

          i {
            grid-area: boardImg;
          }
        }
      }

*/
