@import "vars.scss";

@import "default.scss";


.mainContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 40px;
  overflow: auto;
  grid-template-areas:
    "menu"
    "container"
    "footer"
  ;

  .menu {
    font-size: 20px;
    grid-area: menu;

    #navbar {
      min-height: 40px;
      max-height: 40px;
      backdrop-filter: blur(5px);
      box-shadow: 0px 1px 6px 0px #000;
      background-color: $nav_bg;
      overflow: hidden;
      display: grid;
      grid-template-columns: 30px;
      grid-template-rows: auto;
      grid-template-areas:
        "home"
      ;

      .button {
        text-align: center;
        align-self: center;
      }
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  footer {
    font-size: 20px;
    background-color: $primary_bg;
    grid-area: footer;
    padding-top: 10px;
    text-align: center;
  }
}