@import "vars.scss";
@import "defaults.scss";

.container {
  font-size: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 40px;
  grid-template-areas: "menu" "mainContainer" "footer";

  .menu {
    grid-area: menu;

    #navbar {
      min-height: 40px;
      max-height: 40px;
      background-color: $nav_bg;
      box-shadow: 0px 1px 6px 0px #000;

      .button {
        min-height: 40px;
        max-height: 40px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 40px;
        grid-template-areas: "button";

        a {
          text-align: center;
          align-self: center;
          text-decoration: none;
          grid-area: button;
        }
      }
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  footer {
    background-color: $primary_bg;
    grid-area: footer;
    text-align: center;
    align-self: center;
  }
}