<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= board_title%>
    </title>
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/publicate.css" />
</head>
<body>


    <div id="title">

        <canvas id="board-animation" height=800></canvas>
        <script src="/public/script/canvasAnimation.js" ></script>
    </div>


    <div id="container">

    <div>
        <div id="publicate">
        <h1>publicate something</h1>
            <form action="<%=req_url%>" method="post">
             <div>
             <input type="text" name="username" placeholder="username" id="username"  /><br>
             </div>
              <div>
              <input type="text" name="title" placeholder="title" id="title-publication"  /><br>
              </div><div>
              <textarea name="body" placeholder="body" ></textarea><br>
              </div>
               <div>
              <input type="submit" id="submit-bottom" value="submit" /><br>
            </div>
            </form>
        </div>
    </div>
    <!--line-->
    <div><div id="line"></div></div>
    <!--posts-->
    <div><div id="publications"></div></div>
    <!--line-->
     <div><div id="line"></div></div>
    <div id="index"></div>
    </div>

</body>
</html>
