<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnonPost</title>

  <!-- Awesome fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/public/css/index.css">

  <%= Enum.map(customCSSHeaders, fn elem -> %>
    <link rel="stylesheet" href="/public/css/templates/<%= elem %>/index.css">
  <% end) %>

  <%= Enum.map(customScriptHeaders, fn elem -> %>
    <link rel="stylesheet" href="/public/JS/<%= elem %>.js">
  <% end) %>

</head>
<body>


  <div class="grid_container">
    <nav class="navigation_bar" id="navigation_bar">
      <ul>
        <li><a href="/"><i class="fas fa-home fa-2x"></i></a></li>
        <li><a href=""><i class="fas fa-random fa-2x"></i></a></li>
      </ul>
    </nav>

    <%= template %>

  </div>


  <script src="/public/JS/navbar.js"></script>

  <%= Enum.map(customScriptBody, fn elem -> %>
    <script src="/public/JS/<%= elem %>.js"></script>
  <% end) %>

</body>
</html>
