<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <div>title</div>
    <div id="publicate">
      <form action="/new-post" method="post">
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="content" placeholder="content" />

        <input type="submit" value="submit" />
      </form>
    </div>

    <div id="publications"></div>

    <div id="index"></div>
  </body>
</html>
